<p>Ask your coach anything</p>
<form action="/answer" class="p-2 bg-light border" data-turbo="false">
  <input type="text" name="question" class="form-control mb-4" placeholder="Ask your coach anything">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
